body {
    color: #FEFEE2;
    font-family: "Karla";
} 

@media screen and (max-width: 370px) { 

    * {
        box-sizing: border-box;
        margin: 0;
    }

    /* NAVBAR */

    a {
        color: inherit;
        text-decoration: none;
        transition: color .3s;
    }
    
    .link {
        display: inline-block;
        margin: 0 15px;
    }
    
    nav {
        font-family:'Karla';
        font-size: 10px;
        display: inline-block;
    }
    
    .header {
        background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39%, rgba(54, 54, 54, 0.5)),
        url(img/italie.jpg) center bottom / cover no-repeat;
    }

    .header-auteur {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39%, rgba(54, 54, 54, 0.5)),
        url(img/pasta1.jpg) 
        center center / cover no-repeat;
    }

    .header-contact {
        background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39%, rgba(54, 54, 54, 0.5)),
        url(img/pizza2.jpg) center center / cover no-repeat;
    }

    .header-recette {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39%, rgba(54, 54, 54, 0.5)),
        url(img/toast.jpg) center center / cover no-repeat;
    }
    
    .topbar {
        padding: 5px 0;
        text-transform: uppercase;
        font-family: 'Karla', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        color: white;
        background: black;
        opacity: 0.6;
        font-weight: bold;
      }
    
    .menu-item {
        display: flex;
        flex-direction: column;
        margin: 15px;
        font-size: 15px;
    }
    
    .topbar a:hover {
        color: gold;
        text-decoration: underline;
    }

    /* BODY INDEX */

    body {
        font-family: "Karla";
    }

    .conteneur1 {
        display:flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }

    .titre1 {
        width: 100%;
        font-size: 20px;
        word-spacing: 5px;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 5%;
    }

    .recettedumois {
        font-family: 'Source Sans Pro', sans-serif;
        position: relative;
        overflow: hidden;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        color: #000000;
        text-align: left;
        font-size: 16px;
        background-color: #fff;
      }
      
      .recettedumois * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
      }
      
      .recettedumois img {
        vertical-align: top;
        max-width: 100%;
        backface-visibility: hidden;
      }
      
      .recettedumois figcaption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .recettedumois h3 {
        margin: 0;
        opacity: 0;
        letter-spacing: 1px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        text-transform: uppercase;
        font-weight: 400;
      }
      
    .descriptif {
        font-size: medium;
        width: 90%;
        text-align: justify;
        line-height: 20px;
        margin-bottom: 10%;
        margin-left: 5%;
    }

    .bouton {
        border:none;
        padding:6px 8px;
        border-radius:2px;
        box-shadow:3px 3px 12px #999;
        background:#fff;
        color:#555;
        margin: 10px 0 0 34%;
        cursor: pointer;
    }

    .conteneur2 {
        margin-top: 20%;
        display:flex;
        flex-direction: column;
    }

    .sousconteneur {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
    }

    .imagesarticles {
        width: 90%;
        margin: auto; 
        text-align: justify;
        cursor: pointer;
    }

    p {
        width: 65%;
        font-size: 18px;
        text-align: center;
        margin: auto; 
        margin-top: 2%;
    }

    .imagesarticles:hover {
        opacity: 0,6;
    }

    /* AUTEUR */
    
    .slogan {
        padding: 50px 0 30px 0;
        text-align: center;
        font-weight: bold;
        text-shadow: 2px 5px 2px black;
      }

    .slogan-auteur, .slogan-contact {
        padding: 50px 0 30px 0;
        text-align: center;
        font-weight: bold;
        text-shadow: 5px 5px 5px black;
      }


    .titre-wild {
        font-family: 'Bilbo Swash Caps';
        font-size: 65px;
        color: white;
    }

    .titre-auteur, .titre-contact {
        font-family: 'Bilbo Swash Caps';
        font-size: 50px;
        color: white;
        margin: 20px;
    }

    .photo {
        text-align: center;
    }

    .photo-auteur {
        width: 90%;
        height: auto;
        margin-top: 20px;
        box-shadow: 5px 5px 5px black;
    }

    .titre-presentation, .titre-debut {
        text-align: center;
        font-family: "Karla";
        color: black;
        text-shadow: 2px 2px 2px grey;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .txt-auteur, .txt-debut {
        margin: auto;
        text-align: justify;
    }

    .txt-fin {
        margin-bottom: 40px;
    }

    .desk-div {
        display: block;
    }

    /* ARTICLE MOBILE */

    .titrerecette {
        width: 90%;
        font-weight: bold;
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    .conteneur_article {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .recettedumoisarticle {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        height: auto;
    }
    

    .recettedumoisarticle ul {
        margin-bottom: 10px;

    }

    .conteneur_recette {
        width: 90%;
        text-align: justify;
    }

    .soustitre {
        list-style: none;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 4%;
    }

    /* FOOTER */

    footer {
        display: flex;
        font-family: "Karla";
        background-color: black;
        width: 100%;
        height: 140px;
        margin-top: 40px;
    }

    .footer {
        text-align: center;
        list-style: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer a {
        text-decoration: none;
        color: #ffffff;
        padding: 6px;
    }

    .block1 , .block2, .block3 {
        width: 33%;
        height: auto;
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        line-height: 1.7rem;
    }

    .block2 img {
        width: 30px;
        height: 30px;
    }

    .footer a:hover {
        color: gold;
        text-decoration: none;
    }

    /* FORMULAIRE */ 

    .form_border {
        border: 1px solid black;
        margin: 40px 10px;
        background-image: url("https://zupimages.net/up/20/11/cby7.png");
        background-position: center;
        height: 400px;
        background-repeat: no-repeat;
        background-position-x: 20px;
        background-position-y: 240px;
        background-size: 145px;
        box-shadow: 1px 1px 10px 10px lightgray;
    }

    .form_form {
        margin-top: 15%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .form_title {
        margin: 8% 0 0 8%;
        font-size: 22px;
    }

    .form_title_desktop {
        display: none;
    }

    .form {
        font-family: 'Karla';
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form_rat {
        display: none;
    }

    .form_content {
        background-color: transparent;
        border-radius: 0.7rem;
        margin: 10px 0;
        border: 1px solid black;
        color: black;
    }

    .form_name, .form_email {
        height: 26px;
    }

    .form textarea {
        width: 90%;
        height: 100px;
        border-radius: 0.7rem;
    }

    .form button {
        width: 26%;
        float: right;
        border-radius: 0.3rem;
        height: 28px;
        color: grey;
        cursor: pointer;
        font-size: 14px;
        font-weight: 100;
    }

    ::placeholder {
        color: grey;
        font-size: 12px;
    }

}