body {
    font-family: "Karla";
}

.conteneur1 {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

.titre1 {
    font-size: 19px;
    text-align: center;
    width: 90%;
    word-spacing: 5px;
}

.recettedumois {
    width: 90%;
    height: auto;
    margin-bottom: 2%;
}

.descriptif {
    font-size: medium;
    width: 90%;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 5%;
    margin-left: 0;
}

.bouton {
    width: 30%;
    margin-left: 60%;
    border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
    color:#555;
    margin-bottom: 20%;
}

.conteneur2 {
    display:flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.sousconteneur {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}

.imagesarticles {
    width: 100%;
    text-align: justify;
}

p {
    width: 60%;
    margin-left: 10px;
    font-size: 15px;
}
