/*BODY VERSION TABLETTE*/

body {
    font-family: "Karla";
}

.conteneur1 {
    display:flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
}

.titre1 {
    font-size: 35px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}
 
.recettedumois {
    width: 45%;
    height: auto;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.descriptif {
    font-size: 18px;
    width: 70%;
    text-align: justify;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: auto;
    }
    
.bouton {
    width: 15%;
    font-size: 15px;
    border:none;
    padding:6px 0 6px 0;
    border-radius:2px;
    box-shadow:3px 3px 12px #999;
    background:#fff;
    color:#555;
    margin-bottom: 10%;
    cursor: pointer;
    margin-left: 20%;
    }

.conteneur2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
    }

.sousconteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.imagesarticles {
    width: 80%;
    cursor: pointer;
}

.imagesarticles:hover {
    opacity : 0.6;
}

p {
    width: 80%;
    font-size: 20px;
    text-align: center;
}




/* FOOTER TABLETTE */

@media screen and (min-width: 370px) and (max-width: 800px) {

    a {
        color: inherit;
        text-decoration: none;
        transition: color .3s;
    }
    
    .link {
        display: inline-block;
        margin: 0 15px;
    }
    
    nav {
        font-family:'Karla';
        font-size: 10px;
        display: inline-block;
    }
    
    .header {
        background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92),rgba(54, 54, 54, 0.5) 39%, rgba(54, 54, 54, 0.5)),
        url(https://cdn.pixabay.com/photo/2017/06/06/22/37/italian-cuisine-2378729_960_720.jpg) center bottom / cover no-repeat;
    }
    
    .topbar {
        padding: 10px 0;
        text-transform: uppercase;
        font-family: 'Karla', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        color: white;
        background: black;
        opacity: 0.6;
        font-weight: bold;
      }
    
    .menu-item {
        display: inline-block;
        margin: 15px;
        font-size: 15px;
    }

    .menu-home {
        border: solid 1px #C89446;
        padding: 7px 10px;
        transition-property: color, background-color;
        margin-top: 5px;
    }

    .menu-recette {
        border: solid 1px #C89446;
        padding: 7px 10px;
        transition-property: color, background-color;
        margin-top: 5px;
    }
    
    .topbar a:hover {
        color: gold;
    }
    
    
    .slogan {
        padding: 70px 0 70px 0;
        text-align: center;
        font-weight: bold;
      }
    
    .titre-wild {
        font-family: 'Bilbo Swash Caps';
        font-size: 70px;
        color: white;
    }

    footer {
        display: flex;
        font-family: "Karla";
        background-color: black;
        width: 100%;
        height: 140px;
    }

    .footer {
        text-align: center;
        list-style: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer a {
        text-decoration: none;
        color: #ffffff;
        padding: 6px;
    }

    .block1 , .block2, .block3 {
        width: 33%;
        height: auto;
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        line-height: 1.7rem;
    }

    .block2 img {
        width: 50px;
        height: 50px;
    }

}